/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #003049; /* Matches dark blue background */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Authentication Container */
.loginAuthentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.authenticationContainer {
  border-radius: 15px;
  background-color: #fafafa;
  display: flex;
  width: 400px;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo and Header */
.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #111827;
  font-weight: 700;
  text-align: center;
}

.logoText {
  font-size: 24px;
  color: #003049;
  margin-right: 5px;
}

.logoNumber {
  font-family: 'Caveat', cursive; /* Using a script-style font for the "2" */
  font-size: 2rem;
  color: #003049;
}

.loginTitle {
  color: #003049;
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Button Styling */
.loginButton {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #6194fa;
  background-color: #6194fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
}

.loginButton:hover {
  background-color: #4a7de0;
}

@media (max-width: 991px) {
  .authenticationContainer {
    padding: 20px;
  }
}

/* Adjusted styles for the logo image */
.logoImage {
  width: 300px; /* Adjust width as needed */
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 1px; /* Space below the logo */
}
